<footer class="footer">
    <div class="inf">
        <div class="logo">
            <img src="public/logo.png"/>
            <p>CoDat</p>
        </div>
        <p class="name">CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</p>
        <p class="address">Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p>
        <p class="phone">(024) 3562 5939 - (024) 3562 5940</p>
        <div class="link">
            <img src="public/fb_black.png"/>
            <img src="public/ins_black.png"/>
            <img src="public/youtube_black.png"/>
            <img src="public/in_black.png"/>
        </div>
    </div>
    <div class="ins-reg">
        <div class="instruct">
            <p>HƯỚNG DẪN</p>
            <a href="#!">Về chúng tôi</a>
            <a href="#!">Báo giá & hỗ trợ</a>
            <a href="#!">Câu hỏi thường gặp</a>
            <a href="#!">Góp ý báo lỗi</a>
            <a href="#!">Sitemap</a>
        </div>
        <div class="regulation">
            <p>QUY ĐỊNH</p>
            <a href="#!">Quy định đăng tin</a>
            <a href="#!">Quy chế hoạt động</a>
            <a href="#!">Điều khoản thỏa thuận</a>
            <a href="#!">Chính sách bảo mật</a>
            <a href="#!">Giải quyết khiếu nại</a>
        </div>
    </div>
</footer>