<app-navbar></app-navbar>
<div class="content">
    <div class="content-news">
        <h1>KITA Group khởi công Dự án Căn hộ cao cấp Stella Icon tại Cần Thơ</h1>
        <h2>Ngày 3/8, dự án Căn hộ cao cấp Stella Icon  thuộc Khu đô thị KITA Airport City (Cần Thơ) đã chính thức được khởi công xây dựng với có tổng mức đầu tư khoảng 440 tỷ đồng.</h2>
        <p>Dự án do KITA Invest làm chủ đầu tư và KITA Group là nhà phát triển dự án. Stella Icon có tổng mức đầu tư khoảng 440 tỷ đồng, dự kiến hoàn thành và bàn giao quý 1/2026. Tại buổi lễ, KITA Group đồng thời đã công bố thương hiệu KITA Airport City thay cho tên gọi cũ Stella Mega City.</p>

        <img src="/public/bg.jpg" class="img-fluid img1" alt="...">
        
        <p>Stella Icon sở hữu vị trí ngay lõi trung tâm khu đô thị KITA Airport City quy mô 150ha đã hiện hữu, nằm trên mặt tiền đường Lạc Long Quân, kết nối trực tiếp với hai tuyến đường lớn của quận Bình Thủy là Võ Văn Kiệt và Lê Hồng Phong  tuyến đường huyết mạch giữa Cần Thơ với các tỉnh ĐBSCL. Stella Icon được định hướng trở thành tổ hợp căn hộ cao cấp, thương mại và giải trí sôi động bậc nhất tại Cần Thơ. Dự án có quy mô 6.026m² với mật độ xây dựng chỉ 37,25%, gồm 1 khối tháp, 1 tầng hầm và 18 tầng nổi, cung cấp ra thị trường 294 căn hộ sở hữu lâu dài và 15 shophouse khối đế.
            <br> <br>Stella Icon thừa hưởng toàn bộ tiện ích đa dạng trong nội khu khu đô thị KITA Airport City, đồng thời cư dân của Stella Icon còn được sở hữu nhiều tiện ích riêng như như hồ bơi người lớn, hồ bơi trẻ em, khu vui chơi trẻ em, coffee thư giãn, quầy bar… Dự án căn hộ cao cấp Stella Icon kiến hoàn thành và bàn giao quý 1/2026.
            <br> <br>Với định hướng mới trong chiến lược phát triển, KITA Group chính thức đưa Stella Mega City trở thành KITA Airport City  mô hình “thành phố sân bay” đột phá lần đầu tiên xuất hiện tại khu vực Đồng bằng sông Cửu Long.
            <br> <br>Khu đô thị KITA Airport City cách sân bay quốc tế Cần Thơ chỉ 3km. Sở hữu vị thế chiến lược trong vùng đô thị sân bay, KITA Airport City sẽ hình thành nên đô thị sôi động với các hoạt động văn hóa  nghệ thuật  vui chơi giải trí  thương mại  dịch vụ và tiện ích đẳng cấp bậc nhất khu vực, nơi quy tụ của cộng đồng cư dân chất lượng, thu hút du lịch, phát triển kinh tế.
            <br> <br>Ông Nguyễn Duy Kiên  Chủ tịch KITA Group phát biểu tại sự kiện: “Các dự án của chúng tôi luôn bám sát 3 giá trị cốt lõi: Pháp lý vững vàng  Giải pháp thông minh  Cộng đồng văn minh, thân thiện. Với Stella Icon, Giấy phép xây dựng do Sở Xây dựng TP Cần Thơ cấp cho KITA Invest là cơ sở pháp lý để chủ đầu tư tiến hành khởi công, xây dựng và sớm hoàn thành dự án, đáp ứng nhu cầu sống trong những căn hộ có không gian tiện nghi, thân thiện môi trường”.
            <br> <br>Phát biểu tại lễ khởi công, ông Dương Tấn Hiển  Phó Chủ tịch Thường trực UBND TP. Cần Thơ nhấn mạnh, dự án chung cư Ngôi sao 360 nằm trong tổng thể dự án khu dân cư Ngân Thuận đang có tốc độ phát triển nhanh bởi các lợi thế về giao thông, du lịch văn hoá, cảng hàng không quốc tế Cần Thơ, khu công nghiệp Trà Nóc…
            <br> <br>“Với những lợi thế này, tôi tin tưởng trong tương lai không xa, khu vực đô thị rộng 150ha do Tập đoàn Kita Group đầu tư sẽ sớm đi vào vận hành, tạo sức hút lớn của vùng, tập trung dân cư đô thị văn minh hiện đại; nâng tầm không gian đô thị theo đúng quy hoạch và định hướng phát triển đô thị, góp phần phát triển kinh tế  xã hội thành phố”, ông Hiển nói.
            <br> <br>Phó Chủ tịch UBND TP. Cần Thơ đề nghị chủ đầu tư tập trung mọi nguồn lực, nhân lực và tài chính để xây dựng dự án đúng tiến độ đề ra, đảm bảo chất lượng công trình, sớm đưa vào khai thác sử dụng.
        </p>
    </div>
    <div>
        <h4>Bất động sản liên quan</h4>
            <div class="container1 mt-4">
                <div class="row flex-nowrap overflow-auto">
                <div *ngFor="let card of cards" class="col-12 col-md-4 mb-3">
                    <div class="card h-100">
                    <img [src]="card.img" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.text }}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
  
  
    </div>
    <div>
        <h4>Các bài viết khác</h4>
        <!-- file filter-news.component.html -->
            <div class="container mt-4">
                <div class="row">
                <div *ngFor="let news of newsItems" class="col-12 mb-3">
                    <div class="card h-500 flex-row align-items-center">
                    <img [src]="news.img" class="card-img-left" alt="News Image" style="width: 150px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.description }}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
  
  
    </div>
</div>